<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.padiem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Padiem"
        android:usesCleartextTraffic="true">
        <activity android:name=".motion1"></activity>
        <activity android:name=".member_motion_time" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Cus_versionup2" />
        <activity android:name=".member_langua" />
        <activity android:name=".member_light" />
        <activity android:name=".member_care" />
        <activity android:name=".member_motion" />
        <activity android:name=".member_recoder" />
        <activity android:name=".Cus_version" />
        <activity android:name=".Cus_request" />
        <activity android:name=".Cus_gonggi" />
        <activity android:name=".Drawer" />
        <activity
            android:name=".Member"
            android:label="@string/title_activity_member"
            android:theme="@style/Theme.Padiem.NoActionBar" />
        <activity android:name=".Customer" />
        <activity android:name=".Recoder" />
        <activity android:name=".Wifi" />
        <activity android:name=".Voice" />
        <activity android:name=".Motion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>